/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*End of CSS Reset */

/*Adding border-box to every element*/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*Setting Entire Page Size */

body {
  min-width: 1100px;
  font: sans-serif;
  font-size: 16px;

}


/*Header-navigation section*/

.nav-header{
  background: #FFFFFF;
  height: 90px;
  padding-top: 20px;

}
    .topLogo {
      display: inline-block;
      width: 225px;
      position: absolute;
      left: 100px;
      top: 25px;
    }
    nav li {
      display: inline-block;
      margin: 0 10px;
    }

    .navLineUp {
      display: inline-block;
      margin: 0 10px;
      position: absolute;
      right: 275px;
      top: 25px;
    }


    ul.navLinkStyle li a {
      color: black;
      text-decoration: none;
    }

    .buttonContainer {
      position: absolute;
      right: 125px;
      top: 15px;
    } 

    .headerLogInButton{
      color: gray;
      height: 25px;
      width: 70px;
      background-color: white;
    }

    .headerSignUpButton{
      color: white;
      height: 25px;
      width: 70px;
      background-color: lightblue;
    }
    /*hero sub-section*/
    .hero {
      text-align: center;
      background-image: url('assets/bg@2x.jpg');
      width: 100%;
      height: 650px;
    }

    .heroHeaderLarge {
      font: sans-serif;
      font-size: 2.13em;
      color: #FFFFFF;
      position: relative;
      top: 100px;
    }

    .heroHeaderSmall {
      font: sans-serif;
      font-size: 1.6em;
      color: #FFFFFF;
      position: relative;
      top: 120px;
    }

    .heroButton {
      position: relative;
      display: inline-block;
      top: 150px;
      background-color: #ffffff;
      font-size: 1em;
      text-transform: uppercase;
      color: black;
      text-decoration: none;
      padding: 10px 25px 10px 25px;
      -webkit-border-radius: 7;
      -moz-border-radius: 7;
      border-radius: 7px;
      font-weight: bold;
    }

    .heroAppImage {
      position: relative;
      display: block;
      height: 525px;
      top: 225px;
      align: center;
      margin: 0 auto;
      -webkit-box-shadow: 3px 13px 19px -1px rgba(0,0,0,0.49);
      -moz-box-shadow: 3px 13px 19px -1px rgba(0,0,0,0.49);
      box-shadow: 3px 13px 19px -1px rgba(0,0,0,0.49);

    }


/* Features */
.featureContainer {
  width: 1300px;
  position: relative;
  top: 150px;
  margin: 0 auto;


}

    .features-col-1 {
      width: 400px;
      display:inline-block;
      margin: 0 100px;

    }

    .features-col-2 {
      width: 100px;
      position: relative;
      top: 5px;
      display:inline-block;

    }

    .features-col-3 {
      width: 400px;
      display:inline-block;
      margin: 0 100px;

    }

    .alignDiv {
      text-align: center;
      margin: 100px 0;
    }

    .alignDiv h2 {
      font-size: 1.25em;
      font-weight: bold;
      margin: 10px 0;
    }


    .resizeImage {
      width: 76px;
      height: 76px;
    }

    .positionFeatureButton {
      display:inline-block;
      position: relative;
      top: 10px;
      left: -20px;
    }

/*Pricing Section*/

.pricing-container {
  position: relative;
  top: 150px;
  width: 1300px;
  margin: 0 auto;
}

    .tableContainer {
      display: inline-block;
      left:300px;
      position: relative;
    }

    .tableStyle {
      border: 1px solid #999;
      text-align: center;
    }

    .enlargeTableFont{
      font-weight: bold;
      font-size: 20px;
      background-color: gray;
      color: lightgray;
    }



    td, th {
      border: 1px solid #999;
      padding: 0.5rem;
      text-align: center;
    }

    .headerStyle{
      background-image: url(assets/pricing@2x.jpg);
      height: 100px;
      color: white;
      vertical-align: middle;
      font-size: 20px;
    }

    .priceExplanation {
      position: relative;
      display: inline-block;
      left: 350px;
      top: -150px
    }

/******* TESTIMONIALS/Quotes ************/

.testimonials-container {
  position: relative;
  top: 300px;
  width: 1300px;
  margin: 0 auto;
}

    .col1-4{
      width: 250px;
      display: inline-block;
      position: relative;
    }

    .positQuoteSec1 {
      left: 170px;
    }

    .quote1 {
      position:relative;
      width: 150px;
      margin: 0px;
      top: -75px;
      padding: 15px;
      color: #3D3D3D;
      background:#F4F4F4;
      border-radius: 15px;
    }

    .quote1:after {
      content:"";
      position:absolute;
      top:93%;
      left:30px;
      border-width:30px 30px 0 0;
      border-style:solid;
      border-color:#F4F4F4 transparent;
      /* css3 extras */
      -webkit-transform:skewX(50deg);
      -moz-transform:skewX(50deg);
      -ms-transform:skewX(50deg);
      -o-transform:skewX(50deg);
      transform:skewX(50deg);
    }

    .positQuoteSec2 {
      left: 90px;
    }

    .quote2-1 {
      position:relative;
      top: -60px;
      width: 250px;
      padding: 15px;
      margin-bottom: 50px;
      color: #3D3D3D;
      background:#F4F4F4;
      border-radius: 15px;
    }

    .quote2-1:after {
      content:"";
      position:absolute;
      top:90%;
      left:30px;
      border-width:30px 30px 0 0;
      border-style:solid;
      border-color:#F4F4F4 transparent;
      /* css3 extras */
      -webkit-transform:skewX(50deg);
      -moz-transform:skewX(50deg);
      -ms-transform:skewX(50deg);
      -o-transform:skewX(50deg);
      transform:skewX(50deg);
    }

    .quote2-2 {
      position:relative;
      top: -80px;
      width: 280px;
      padding: 15px;
      color: #3D3D3D;
      background:#F4F4F4;
      border-radius: 15px;
    }

    .quote2-2:after {
      content:"";
      position:absolute;
      top:-2%;
      right:25px;
      border-width:30px 30px 0 0;
      border-style:solid;
      border-color:#F4F4F4 transparent;
      /* css3 extras */
      -webkit-transform:skewX(50deg);
      -moz-transform:skewX(50deg);
      -ms-transform:skewX(50deg);
      -o-transform:skewX(50deg);
      transform:skewX(50deg);
      -webkit-transform:skewy(50deg);
      -moz-transform:skewy(50deg);
      -ms-transform:skewy(50deg);
      -o-transform:skewy(50deg);
      transform:skewy(50deg);
    }



    .positQuoteSec3 {
      left: 110px;
    }

    .quote3-1 {
      position:relative;
      top: -75px;
      width: 250px;
      margin-bottom: 25px;
      padding: 15px;
      color: #3D3D3D;
      background:#F4F4F4;
      border-radius: 15px;
    }

    .quote3-1:after {
      content:"";
      position:absolute;
      top:88%;
      left:30px;
      border-width:30px 30px 0 0;
      border-style:solid;
      border-color:#F4F4F4 transparent;
      /* css3 extras */
      -webkit-transform:skewX(50deg);
      -moz-transform:skewX(50deg);
      -ms-transform:skewX(50deg);
      -o-transform:skewX(50deg);
      transform:skewX(50deg);
    }

    .quote3-2 {
      position:relative;
      top: -75px;
      left: 25px;
      width: 250px;
      margin: 0px;
      padding: 15px;
      color: #3D3D3D;
      background:#F4F4F4;
      border-radius: 15px;
    }

    .quote3-2:after {
      content:"";
      position:absolute;
      top:-2%;
      right:25px;
      border-width:30px 30px 0 0;
      border-style:solid;
      border-color:#F4F4F4 transparent;
      /* css3 extras */
      -webkit-transform:skewX(50deg);
      -moz-transform:skewX(50deg);
      -ms-transform:skewX(50deg);
      -o-transform:skewX(50deg);
      transform:skewX(50deg);
      -webkit-transform:skewy(50deg);
      -moz-transform:skewy(50deg);
      -ms-transform:skewy(50deg);
      -o-transform:skewy(50deg);
      transform:skewy(50deg);
    }

    .positQuoteSec4 {
      left: 150px;
    }

    .quote4-1 {
      position:relative;
      top: -120px;
      width: 200px;
      margin: 0px;
      padding: 15px;
      color: #3D3D3D;
      background:#F4F4F4;
      border-radius: 15px;
    }

    .quote4-1:after {
      content:"";
      position:absolute;
      top:93%;
      left:30px;
      border-width:30px 30px 0 0;
      border-style:solid;
      border-color:#F4F4F4 transparent;
      /* css3 extras */
      -webkit-transform:skewX(50deg);
      -moz-transform:skewX(50deg);
      -ms-transform:skewX(50deg);
      -o-transform:skewX(50deg);
      transform:skewX(50deg);
    }
/* Positioning Logos*/
.stussyLogoPosit {
  left: 50px;
  position: relative;
}

    .flightClubPosit{
      position: relative;
      left: 50px;
      top: -20px;
    }

    .simpleLogoPosit {
      position: relative;
      left: 30px;
    }

    .extCompanyLogoSmall{
      width: 100px;
    }

    .extCompanyLogoMed{
      width: 200px;
    }

/*Contact Form*/
.contact-form-container {
  position: relative;
  top: 400px;
  margin: 0 auto;
  width: 1100px;
  text-align: center;
  display:block;
  align: center;
}

    .blockFormElem{
      display: block;
      margin: 15px auto;
    }

    .labelFormFont {
      font-size: 1.5em;
      font-weight: bold;
    }

    .labelFormEmailFont{
      font-size: .75em;
    }

    .textAreaResize {
      width: 200px;
      height: 125px;
    }

    .emailAreaResize {
      width: 200px;
    }

/* footer */

footer{
  position: relative;
  top: 450px;
  text-align: center;
  align: center;
  background-image: url(assets/orbit.svg);
  height: 300px;
}

    .monospaceFooterLogoReize{
      width: 150px;
    }

    .monoMascotPosit{
      position: relative;
      top: -50px;
    }

    .heartIconResize{
      width: 20px;
    }
